#include <nxp/mcx/MCXA153VLH-pinctrl.h>

&pinctrl {
    pinmux_lpuart2: pinmux_lpuart2 {
        group0 {
            pinmux = <LPUART2_RXD_P1_4>,
                     <LPUART2_TXD_P1_5>;
            slew-rate = "fast";
            drive-strength = "low";
        };
    };
};

&lpuart0 {
    status = "okay";
    current-speed = <115200>;
};

&lpuart2 {
    status = "okay";
    pinctrl-0 = <&pinmux_lpuart2>;
    pinctrl-names = "default";
    current-speed = <115200>;
};

/ {
    chosen {
        uart_bridge_dbg = &lpuart0;
        uart_bridge_tgt = &lpuart2;
    };
};
